<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
        >
    <context:annotation-config/>

    <!-- =========================================================================================== -->
    <!-- Config -->
    <!-- =========================================================================================== -->

    <util:properties id="fileConfigProps" location="classpath:file/file-settings.properties"/>
    <util:properties id="nettyConfig" location="classpath:config/netty-server-config.properties"/>

    <!-- =========================================================================================== -->
    <!-- Console beans -->
    <!-- =========================================================================================== -->

    <bean name="consoleEventHandler" class="me.nkozlov.console.ConsoleEventHandler">
        <constructor-arg>
            <list>
                <ref bean="helpCommand"/>
                <ref bean="quitCommand"/>
                <ref bean="resetCommand"/>
                <ref bean="restartCommand"/>
                <ref bean="startCommand"/>
                <ref bean="stopCommand"/>
                <ref bean="welcomeCommand"/>
            </list>
        </constructor-arg>
    </bean>
    <bean name="consoleEventListener" class="me.nkozlov.console.listener.ConsoleEventListener"/>

    <!-- =========================================================================================== -->
    <!-- Console command beans -->
    <!-- =========================================================================================== -->

    <bean name="helpCommand" class="me.nkozlov.console.command.impl.HelpCommand"/>
    <bean name="quitCommand" class="me.nkozlov.console.command.impl.QuitCommand"/>
    <bean name="resetCommand" class="me.nkozlov.console.command.impl.ResetCommand"/>
    <bean name="restartCommand" class="me.nkozlov.console.command.impl.RestartCommand"/>
    <bean name="startCommand" class="me.nkozlov.console.command.impl.StartCommand"/>
    <bean name="stopCommand" class="me.nkozlov.console.command.impl.StopCommand"/>
    <bean name="welcomeCommand" class="me.nkozlov.console.command.impl.WelcomeCommand"/>

    <!-- =========================================================================================== -->
    <!-- Netty beans -->
    <!-- =========================================================================================== -->

    <bean name="nettyServer" class="me.nkozlov.server.NettyServer"/>

    <bean name="serverResources" class="me.nkozlov.server.ServerResources"/>

    <!-- =========================================================================================== -->
    <!-- Logic beans -->
    <!-- =========================================================================================== -->

    <bean name="sqNumNatureFileFactory" class="me.nkozlov.server.logic.file.FileFactory">
        <constructor-arg index="0" ref="fileConfigProps"/>
    </bean>

    <bean name="naturalSeqLogicHandler" class="me.nkozlov.server.logic.NaturalSeqLogicHandler">
        <constructor-arg index="0" ref="sqNumNatureFileFactory"/>
    </bean>

    <bean name="fileExecutor" class="me.nkozlov.server.logic.file.FileExecutor"/>

    <!-- =========================================================================================== -->
    <!-- Admin Interface beans -->
    <!-- =========================================================================================== -->

    <bean name="nettyServerAdmin" class="me.nkozlov.server.admin.NettyServerAdmin"/>

    <bean name="fileReadQueueAdmin" class="me.nkozlov.server.admin.FileReadQueueAdmin"/>

    <bean name="sessionReadQueueAdmin" class="me.nkozlov.server.admin.SessionReadQueueAdmin"/>

    <!-- =========================================================================================== -->
    <!-- Utils beans -->
    <!-- =========================================================================================== -->
    <bean id="applicationContextProvider" class="me.nkozlov.utilz.appcontext.ApplicationContextProvider"/>

</beans>