<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
        >
    <context:annotation-config/>

    <!-- =========================================================================================== -->
    <!-- Console beans -->
    <!-- =========================================================================================== -->

    <bean name="consoleEventHandler" class="me.nkozlov.console.ConsoleEventHandler"/>
    <bean name="consoleEventListener" class="me.nkozlov.console.listener.ConsoleEventListener"/>

    <!-- =========================================================================================== -->
    <!-- Netty beans -->
    <!-- =========================================================================================== -->

    <bean name="nettyServer" class="me.nkozlov.server.NettyServer"/>

    <!-- =========================================================================================== -->
    <!-- Netty beans -->
    <!-- =========================================================================================== -->

    <bean name="readQueueHandler" class="me.nkozlov.server.logic.packet.HttpPacketReadQueueHandler">
        <constructor-arg index="0" value="1"/>
    </bean>

    <bean name="serverResources" class="me.nkozlov.server.ServerResources"/>

    <!-- =========================================================================================== -->
    <!-- Threads beans -->
    <!-- =========================================================================================== -->

    <bean name="threadConsoleListener" class="java.lang.Thread" scope="prototype">
        <constructor-arg index="0" ref="consoleEventListener"/>
    </bean>

    <bean name="threadNettyServer" class="java.lang.Thread" scope="prototype">
        <constructor-arg index="0" ref="nettyServer"/>
    </bean>
    <!-- =========================================================================================== -->
    <!-- Utils beans -->
    <!-- =========================================================================================== -->
    <bean id="applicationContextProvider" class="me.nkozlov.utilz.appcontext.ApplicationContextProvider"/>

</beans>